<section>
  <div class="grid justify-center">
    <div class="div col-md-12">
      
      <header class="mb-3 ">
        <div class="flex align-items-center justify-space-between">
          <div class="flex">
            <div class="mr-05">
              <img src="/assets/images/icons/date.png" alt="">
            </div>
            <div>
              <h1 class="mb-05">Reserva de salas</h1>
              <p>Veja a disponibilidade para agendamento de salas no CIPT</p>
            </div>
          </div>
          <div class="relative flex align-items-center">
            <img src="/assets/images/icons/date+.png" alt="">
            <button (click)="openDialog()" class="button -secondary -block">Reservar sala</button>
          </div>
        </div>
      </header>
      
      <div class="flex justify-center flex-direction-column">
        <table>
          <thead>
            <tr>
              <th>Número da sala</th>
              <th>Responsável pela sala</th>
              <th>Documento responsável</th>
              <th>Quantidade de Pessoas</th>
              <th>Horário da reserva</th>
              <th>Horário da saída</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of reservations">
              <td>{{ reservation.roomId.name }}</td>
              <td>{{ reservation.fullName }}</td>
              <td>{{ reservation.document }}</td>
              <td>{{ reservation.amountOfPeople }} pessoas</td>
              <td>{{ reservation.reservationStartDate | date : 'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ reservation.reservationEndDate | date : 'dd/MM/yyyy HH:mm' }}</td>
              <td>
                <button class="edit" (click)="openDialog(reservation)">
                  Editar
                </button>
                
                <button class="mx-05 remove" (click)="handleDelete(reservation._id)">
                  Remover
                </button>

                <button class="completed" (click)="handleDelete(reservation._id)">
                  Concluído
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
