section {
  .dashboard {
    height: 100vh;
  }

  h1 {
    font-size: var(--size-24);
    color: var(--color-purple);
  }
  
  p {
    color: var(--color-grey);
  }
  
  .box {
    position: relative;
    
    img {
      position: absolute;
      left: 50px;
    }
  }
  
  .logo img {
    width: 180px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    width: 220px;
  }
}