<section>
  <div class="grid">
    <div class="col-md-12">
      <div class="flex">
        <div class="dashboard flex flex-direction-column justify-space-between">
          <div class="logo m-2">
            <img src="/assets/images/cipt.png" alt="">
          </div>

          <div class="mb-4 flex justify-center">
            <img src="/assets/images/icons/quit.png" alt="">
          </div>
        </div>
        <div class="flex justify-center mt-5">
          <main>
            <router-outlet></router-outlet>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="content flex align-items-center justify-center mt-3">
    <img class="mr-05" src="/assets/images/gov-al.png" alt="">
    <p>Secretaria da Ciência, <br />da Tecnologia e <br />Inovação (SECTI)</p>
  </div>
</footer>