<section>
  <div class="grid">
    <div class="col-md-12">
      <div class="flex">
        <nav class="flex flex-direction-column justify-space-between">
          <div class="logo">
            <img src="/assets/images/cipt.png" alt="">
          </div>
          <div>
            <ul>
              <li>
                <a href="">
                  <img src="/assets/images/icons/date.png" alt="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/assets/images/icons/date.png" alt="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/assets/images/icons/date.png" alt="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/assets/images/icons/date.png" alt="">
                </a>
              </li>
            </ul>
          </div>
          <div>
            <a href="">
              <img src="/assets/images/icons/date.png" alt="">
            </a>
          </div>
        </nav>
        
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
  <footer>
    <div class="content flex align-items-center justify-center mt-3">
      <img class="mr-05" src="/assets/images/gov-al.png" alt="">
      <p>Secretaria da Ciência, <br />da Tecnologia e <br />Inovação (SECTI)</p>
    </div>
  </footer>
</section>