section {
  .date img {
    height: 25px;
  }

  .date {
    border-bottom: 1px solid var(--color-grey);
  }

  h2 {
    color: var(--color-purple);
    font-size: 1.5rem;
  }

  p {
    color: var(--color-grey);
    font-weight: 100;
    font-size: .9rem;
  }

  .check {
    position: relative;
  }

  .check img {
    position: absolute;
    bottom: 17px;
    left: 165px;
  }
}