<section class="login flex align-items-center">
  <div class="container">
    <div class="grid">
      <div class="div col-md-6">
        <div class="flex flex-direction-column">
          <div class="logo flex align-items-center mb-3">
            <div class="mr-1">
              <img class="" src="/assets/images/cipt-bg.png" alt="">
            </div>
            <div>
              <h1 class="mb-05">Acesso ao Sistema</h1>
              <p>Veja a disponibilidade para agendamento de salas no CIPT</p>
            </div>
          </div>
          
          <router-outlet></router-outlet>
          
        </div>
        <div class="content flex align-items-center justify-center mt-5">
          <img class="mr-05" src="/assets/images/gov-al.png" alt="">
          <p>Secretaria da Ciência, <br />da Tecnologia e <br />Inovação (SECTI)</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</section>