$square-size: 50px;
$triangle-size: 50px;
$triangle-start-position: 140px;
$triangle-diff-x: 20px;
$triangle-diff-y: 70px;

section,
.auth-bg {
  height: 100vh;
}

.auth-form {
  flex: 1 1 auto;
  padding: 1rem 7rem;
}

.auth-bg {
  position: relative;
  background-image: url('/assets/images/auth-bg.png');
  background-size: cover;
  background-position: center;
  width: 50%;
}

.header {
  h1 {
    font-size: var(--size-28);
    color: var(--color-grey-600);
  }
  
  p {
    font-size: var(--size-12);
    font-weight: 600;
    color: var(--color-grey);
  }

  .brand {  
    width: 100px;
    padding: .5rem;
  
    > img {
      max-width: 100%;
    }
  }
}

footer {
  > img {
    max-width: 160px;
  }

  h4 {
    color: var(--color-grey);
    line-height: 1.2;
  }
}

.details-1,
.details-2,
.details-3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.square {
  position: absolute;
  display: block;
  width: $square-size;
  height: $square-size;
  background-color: #2A219E;
}

.triangle {
  position: absolute;
  display: block;
  width: $triangle-size;
  height: $triangle-size;
  border-top: $triangle-size solid transparent;
  border-bottom: $triangle-size solid transparent;
  border-left: $triangle-size solid #2A219E;
  transform: rotate(315deg);
}

.details-1 {
  > span {
    &:nth-child(2) { left: $square-size; }
    &:nth-child(3) { left: $square-size * 2; }
    &:nth-child(4) { top: $square-size; }
    &:nth-child(5) { top: $square-size; left: $square-size; }
    &:nth-child(6) { top: $square-size * 2; }
  }
}

.details-2 {
  > span {
    &:nth-child(1) { top: $triangle-start-position; right: $triangle-start-position; }
    &:nth-child(2) { top: $triangle-start-position; right: $triangle-start-position + ($triangle-size + $triangle-diff-x); }
    &:nth-child(3) { top: $triangle-start-position; right: $triangle-start-position + (($triangle-size + $triangle-diff-x) * 2); }
    &:nth-child(4) { top: $triangle-start-position; right: $triangle-start-position + (($triangle-size + $triangle-diff-x) * 3); }

    &:nth-child(5) { top: $triangle-start-position + $triangle-diff-y; right: $triangle-start-position; }
    &:nth-child(6) { top: $triangle-start-position + $triangle-diff-y; right: $triangle-start-position + ($triangle-size + $triangle-diff-x); }
    &:nth-child(7) { top: $triangle-start-position + $triangle-diff-y; right: $triangle-start-position + (($triangle-size + $triangle-diff-x) * 2); }

    &:nth-child(8) { top: $triangle-start-position + ($triangle-diff-y * 2); right: $triangle-start-position; }
    &:nth-child(9) { top: $triangle-start-position + ($triangle-diff-y * 2); right: $triangle-start-position + ($triangle-size + $triangle-diff-x); }

    &:nth-child(10) { top: $triangle-start-position + ($triangle-diff-y * 3); right: $triangle-start-position; }
  }
}

.details-3 {
  > span {
    &:nth-child(1) { bottom: 0; right: 0; }
    &:nth-child(2) { bottom: 0; right: $square-size; }
    &:nth-child(3) { bottom: 0; right: $square-size * 2; }
    &:nth-child(4) { bottom: 0; right: $square-size * 3; }
    &:nth-child(5) { bottom: 0; right: $square-size * 4; }
    
    &:nth-child(6) { bottom: $square-size; right: 0; }
    &:nth-child(7) { bottom: $square-size; right: $square-size; }
    &:nth-child(8) { bottom: $square-size; right: $square-size * 2; }
    &:nth-child(9) { bottom: $square-size; right: $square-size * 3; }

    &:nth-child(10) { bottom: $square-size * 2; right: 0; }
    &:nth-child(11) { bottom: $square-size * 2; right: $square-size; }
    &:nth-child(12) { bottom: $square-size * 2; right: $square-size * 2; }

    &:nth-child(13) { bottom: $square-size * 3; right: 0; }
    &:nth-child(14) { bottom: $square-size * 3; right: $square-size; }

    &:nth-child(15) { bottom: $square-size * 4; right: 0; }
  }
}