<section class="auth flex align-items-center">
  <div class="auth-form">
    <div class="flex flex-direction-column">
      <div class="mb-3">
        <header class="header flex align-items-center">
          <div class="brand mr-1">
            <img src="/assets/images/cipt.png" alt="CIPT">
          </div>

          <div>
            <h1 class="mb-05">Acesso ao Sistema</h1>
            <p>Veja a disponibilidade para agendamento de salas no CIPT</p>
          </div>
        </header>
      </div>
      
      <router-outlet></router-outlet>
    </div>
    
    <footer class="footer">
      <div class="flex justify-center align-items-center mt-5">
        <div>
          <img src="/assets/images/secti-al.png" alt="SECTI Alagoas">
        </div>
        <div class="pl-1">
          <h4>Secretaria da Ciência, <br />da Tecnologia e <br />Inovação (SECTI)</h4>
        </div>
      </div>
    </footer>
  </div>

  <div class="auth-bg">
    <div class="details-1">
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
    </div>

    <div class="details-2">
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
      <span class="triangle"></span>
    </div>

    <div class="details-3">
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
      <span class="square"></span>
    </div>
  </div>
</section>