$colors: 
  ("primary" var(--color-grey) var(--color-white))
  ("secondary" var(--color-purple) var(--color-white));

.button,
.button-outline {
  cursor: pointer;

  display: inline-block;
  font-size: 1rem;
  font-weight: 300;

  text-decoration: none;
  
  padding: 1.2rem 5rem;
  border-radius: 2rem;

  outline: none;

  transition: .3s ease-in-out opacity;

  &:disabled {
    cursor: initial;
    opacity: .75;
  }
}

.button {
  border: none;

  &.-block {
    width: 100%;
  }
}

.button-outline {
  border: 4px solid;
}

@each $type, $background, $color-text in $colors {
  .button {
    &.-#{$type} {
      background-color: $background;
      color: $color-text;
    }
  }

  .button-outline {
    &.-#{$type} {
      background-color: transparent;
      color: $background;
      border-color:  $background;
    }
  }
}
