.form-group {
    label {
    min-width: 350px;
    display: block;
    font-size: var(--size-16);
    font-weight: 600;
    color: var(--color-grey-600);

    margin-bottom: .3rem;

    > span {
      color: var(--color-red);
    }
  }

  input,
  select {
    width: 100%;
    color: var(--color-grey);
    border: 1px solid var(--color-border);
    font-size: var(--size-14);
    font-weight: 500;
    padding: var(--size-20);
    border-radius: 35px;
  }
}

.input::placeholder {
  color: var(--color-grey);
  font-size: var(--size-14);
  font-weight: 100;
}
