* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

body, html {
  height: 100%;
  width: 100%;
}

app-root,
app-root router-outflex+* {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}
