* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

body, html {
  height: 100%;
  width: 100%;
}

oxe-root,
oxe-root router-outlet + * {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}
