* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

body, html {
  height: 100%;
  width: 100%;
}

img {
  vertical-align: text-bottom;
  max-width: 260px;
}

oxe-root,
oxe-root router-outlet + * {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.mat-datepicker-content-container  {
  background-color: var(--color-white);
  border-radius: 8px 8px 8px 0;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.mat-calendar-body-disabled .mat-calendar-body-cell-content {
  background-color: #eaeaea;
  color:#bababa;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}