  :root {
    --color-grey-600: #434343;
    --color-grey: #929292;
    --color-border: #cacaca;
    --color-white: #f4f7f1;
    
    --color-blue-200: #abd7ff;
    --color-blue-400: #86c2f8;
    --color-blue-600: #203162;
    --color-blue-800: #161342;
    
    --color-purple: #453db1;
    
    --color-orange: #e3770b;
    --color-red: #dc1720;
    --color-green: #19a28d;
  }
  