.flex { display: flex; }

.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; }
.flex-direction-row-rev { flex-direction: row-reverse; }
.flex-direction-column-rev { flex-direction: column-reverse; }

.justify-space-between { justify-content: space-between; }
.justify-space-around { justify-content: space-around; }
.justify-space-evenly { justify-content: space-evenly; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }

.align-items-start { align-items: start; }
.align-items-center { align-items: center; }
.align-items-end { align-items: end; }