<form
  class="form"
  [formGroup]="form"
  (submit)="handleSubmit()">
  <div class="form-group">
    <label for="name">Nome completo<span>*</span></label>
    <input
      type="text"
      formControlName="fullName"
      placeholder="Ex.: Arthur Caldas"
      required />
  </div>
  
    <div class="form-group pt-1">
      <label for="email">Email<span>*</span></label>
      <input
        type="email"
        formControlName="email"
        placeholder="Digite seu email"
        required />
    </div>

    <div class="flex justify-space-between">
      <div class="form-group pt-1">
        <label for="password">Senha<span>*</span></label>
        <input
        type="password"
        formControlName="password"
        min="6"
        max="8"
        placeholder="Digite de 6 a 8 números"
        required />
      </div>

      <div class="form-group pt-1">
        <label for="telefone">Celular<span>*</span></label>
        <input
        type="text"
        formControlName="phoneNumber"
        placeholder="Ex.: (00) 00000-0000"
        mask="(00) 00000-0000"
        required />
      </div>
    </div>
      
  <div class="form-group pt-1">
    <label for="name">Token de cadastro<span>*</span></label>
    <input
      type="text"
      formControlName="tokenPass"
      placeholder="Token é requerido para criar usuários"
      required />
  </div>

  <div class="flex justify-end my-1">
    <a href="#">Esqueceu sua senha?</a>
  </div>

  <button
    type="submit"
    class="button -secondary -block"
    [disabled]="form.invalid">
    Cadastrar
  </button>

  <div class="mt-1">
    <p>
      Já tem registro? <a [routerLink]="['/auth', 'sign-in']">Acesse sua conta</a>
    </p>
  </div>
</form>
