section {
  h1 {
    font-size: var(--size-24);
    color: var(--color-purple);
  }
  
  p {
    font-size: var(--size-12);
    color: var(--color-grey);
    font-weight: 500;
  }
  
  img {
    margin-right: .2rem;
  }
  
  h2 {
    font-size: var(--size-24);
    color: var(--color-purple);
  }
  
  .card {
    
    button {
      background-color: var(--color-purple);
      border-radius: 1rem;
      border: none;
      cursor: pointer;
    }
    
    p {
      color: var(--color-white);
      font-size: var(--size-18);
    }
  }
}