section {
  h1 {
    font-size: var(--size-24);
    color: var(--color-purple);
  }
  
  p {
    font-size: var(--size-12);
    color: var(--color-grey);
    font-weight: 500;
  }
  
  img {
    margin-right: .2rem;
  }
  
  .card {
    height: 100%;
    
    button {
      width: 250px;
      height: 250px;
      background-color: var(--color-purple);
      border-radius: 2rem;
      border: none;
      cursor: pointer;
    }

    p {
      color: var(--color-white);
      font-size: var(--size-18);
    }
  }
}