<section>
  <div class="grid justify-center">
    <div class="div col-md-12">
      <header class="mb-3 ">
        <div class="flex align-items-center justify-space-between">
          <div class="flex">
            <div class="mr-05">
              <img src="/assets/images/icons/date.png" alt="">
            </div>
            <div>
              <h1 class="mb-05">Salas disponíveis</h1>
              <p>Veja a disponibilidade para agendamento de salas no CIPT</p>
            </div>
          </div>
        </div>
      </header>

      <div>
        <div>
          <h2 class="mb-05">Salas disponíveis</h2>
          <p>Selecione uma opção abaixo pra iniciar a sua reserva</p>
        </div>
        <div class="card flex justify-center align-items-center">
          <div class="m-1">
            <button
              (click)="openDialog()"
              class="px-2 py-1 flex align-items-center justify-center">
              <img
                class="pr-05"
                src="/assets/images/icons/user.png"
                alt="icone usuario" />
                <p>Reservar salas para coworking</p>
            </button>
          </div>
          <div class="m-1">
            <button
              (click)="openDialog()"
              class="px-2 py-1 flex align-items-center justify-center">
              <img 
              class="pr-05" 
              src="/assets/images/icons/building.png" 
              alt="Icons empresas">
              <p>Reservar salas para empresa</p>
            </button>
          </div>
        </div>
        <div>
          <h2 class="mb-05">Reservas de hoje</h2>
          <p>00/00/0000</p>
        </div>
      </div>
    </div>
  </div>



  <!-- <div>
    <div class="flex align-items-center justify-center">
      <button
        type="submit"
        class=" button -secondary -block mt-1"
      [disabled]="form.invalid">
      <img
        src="/assets/images/icons/check.png"
        alt="check"
        width="20px" />
      {{ isEditing ? 'Atualizar' : 'Reservar' }} sala
      </button>
    </div>
  </div> -->
</section>