<section>
  <div class="header flex align-items-center">
    <div class="flex p-2">
      <div class="mr-05">
        <img src="/assets/images/icons/date.png" alt="Ícone de um calendário">
      </div>
      <div>
        <h2 class="mb-05">Formulário para salas</h2>
        <p>Preencha corretamente o formulário com campos válidos</p>
      </div>
    </div>
  </div>

  <form
    class="p-2"
    [formGroup]="form"
    (submit)="handleSubmit()">
    <div class="form-group">
      <label class="label" for="name">Nome da sala<span>*</span></label>
      <input
        type="text"
        formControlName="name"
        placeholder="Ex. Sala 101"
        required />
    </div>
    <div class="form-group pt-15">
      <label class="label" for="doc">Número da sala<span>*</span></label>
      <input
        type="text"
        formControlName="number"
        placeholder="Ex. 101"
        required />
    </div>

    <div class="flex align-items-center">
      <button
        type="submit"
        class="button -secondary -block mt-1"
        [disabled]="form.invalid">
        <img
          class="confirm"
          src="/assets/images/icons/check.png"
          alt="check"
          width="20px" />
        {{ isEditing ? 'Atualizar' : 'Cadastrar' }} sala
      </button>
    </div>

    <div class="flex align-items-center">
      <button
        type="button"
        class="button -primary -block mt-1"
        [mat-dialog-close]="true">
        <img
          class="cancel"
          src="/assets/images/icons/cancel.png"
          alt="check"
          width="20px" />
        Cancelar
      </button>
    </div>
  </form>
</section>