section {
  h1 {
    font-size: var(--size-24);
    color: var(--color-purple);
  }

  p {
    font-size: var(--size-12);
    color: var(--color-grey);
    font-weight: 500;
  }
  
  img {
    margin-right: .2rem;
  }
  
  th,
  td {
    vertical-align: middle;
  }
  
  th {
    font-weight: 600;
    color: var( --color-grey-600);
    
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  td {
    border: 1px solid var(--color-border);
    font-weight: 500;
    color: var(--color-grey-600);
  }
  
  table {
    border-bottom: 1px solid var(--color-border);

    button {
      cursor: pointer;
      padding: 5px;
      border: none;
      border-radius: 4px;
      
      color: var(--color-white);
    }
    
    .edit { background-color: var(--color-purple); }
    .remove { background-color: var(--color-grey); }
    .completed { background-color: var(--color-green); }
  }
}

