<section>
  <div class="grid justify-center">
    <div class="div col-md-12">
      
      <header class="mb-3 ">
        <div class="flex align-items-center justify-space-between">
          <div class="flex">
            <div class="mr-05">
              <img src="/assets/images/icons/date.png" alt="">
            </div>
            <div>
              <h1 class="mb-05">Lista de salas</h1>
              <p>Preencha corretamente o formulário</p>
            </div>
          </div>
          <div class="flex align-items-center">
            <button
              (click)="openDialog()"
              class="button -secondary -block">
              <img
                src="/assets/images/icons/date+.png"
                alt="Ícone de Calendário" />
              Cadastrar sala
            </button>
          </div>
        </div>
      </header>

      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex.: Sala 02" #input>
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome da sala</th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Número da sala</th>
          <td mat-cell *matCellDef="let row"> {{row.number}} </td>
        </ng-container>

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
          <td mat-cell *matCellDef="let row">
            <button class="edit" (click)="openDialog(row)">
              Editar
            </button>
            
            <button class="remove mx-05" (click)="handleDelete(row._id)">
              Excluir
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nenhum dado encontrado com o filtro "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Selecione uma página">
      </mat-paginator>
    </div>
  </div>
</section>
